.CookieContainer {
  align-items: center;
  margin: 0px 2px 0px 2px;
}

.CookieCounter {
  color: brown;
}

.CookieCounter::selection {
  color: greenyellow;
}

.CookieButton {
  visibility: hidden;
}

.CookieClicker {
  max-width: 400px;
  max-height: 400px;
  visibility: visible;
  cursor: pointer;
  transition: 0.2s;
}

.CookieClicker:active {
  filter: saturate(150%);
  transition: none;
}
