* {
  box-sizing: border-box;
}

*::selection {
  background-color: brown;
  color: wheat;
}

html {
  background-color: rgb(211, 200, 178);
}

div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  font-size: 1.2em;
}

.Row {
  flex-direction: row;
}
